/* Effective stylesheet produced by snapshot save */
#secondary-links ul.links li { padding: 0px 10px 10px 0px; }
#secondary-links ul.links li a { font-size: 0.923em; background: none repeat scroll 0% 0% rgb(119, 119, 119); color: rgb(255, 255, 255); text-align: center; padding: 5px; height: 55px; width: 80px; overflow: hidden; border-radius: 5px 5px 5px 5px; }
#secondary-links ul.links li a:hover { background: none repeat scroll 0% 0% rgb(153, 153, 153); }
ul.links li { padding-right: 1em; }
ul.inline li { padding-right: 1em; display: inline; }
#secondary-links ul.links li.active-trail a, #secondary-links ul.links li a.active { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
ul.admin-list li { position: relative; padding-left: 30px; padding-top: 9px; border-top: 1px solid rgb(204, 204, 204); margin-left: 0px; margin-bottom: 10px; background: url("urn:not-loaded:http://localhost/drupal-7.22/sites/all/themes/zen_backend/css/images/list-item.png") no-repeat scroll 0px 11px transparent; list-style-type: none; list-style-image: none; }
.admin-panel .item-list ul, ul.admin-list { margin: 0px; padding: 0px; }
.admin-panel .item-list ul, ul.admin-list.compact { margin: 8px 0px; }
.admin-panel .item-list li { border: medium none; background: none repeat scroll 0% 0% transparent; margin: 0px 0px 0.75em; line-height: 1; padding: 0px; }
ul.admin-list.compact li { border: medium none; background: none repeat scroll 0% 0% transparent; margin: 0px 0px 0.75em; line-height: 1; padding: 0px; }
ul.admin-list li:last-child { border-bottom: medium none; }
ul.admin-list li a { margin-left: -30px; padding: 0px 0px 4px 30px; min-height: 0px; }
ul.admin-list.compact li a { margin-left: 0px; padding: 0px; }
ul.admin-list li div.description a { margin-left: 0px; padding: 0px; min-height: inherit; }
div.submitted { color: rgb(137, 137, 137); }
table { width: 100%; font-size: 0.923em; margin: 0px 0px 10px; border: 1px solid rgb(190, 191, 185); }
table td, table th { vertical-align: middle; padding: 8px 10px; border: 0px none; color: rgb(0, 0, 0); }
tr.even { border-width: 0px 1px; border-style: solid; border-color: rgb(190, 191, 185); background: none repeat scroll 0% 0% rgb(243, 244, 238); }
tr.odd { border-width: 0px 1px; border-style: solid; border-color: rgb(190, 191, 185); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
tr.drag { background: none repeat scroll 0% 0% rgb(255, 238, 119); }
tr.drag-previous { background: none repeat scroll 0% 0% rgb(255, 255, 187); }
table th { text-transform: uppercase; background: none repeat scroll 0% 0% rgb(225, 226, 220); font-weight: normal; border-width: 1px; border-style: solid; border-color: rgb(190, 191, 185); padding: 3px 10px; }
table th.active { background: none repeat scroll 0% 0% rgb(189, 190, 185); }
table th a { display: block; position: relative; }
table th.active a { padding: 0px 25px 0px 0px; }
table th.active img { position: absolute; top: 3px; right: 3px; }
table td.active { background: none repeat scroll 0% 0% rgb(233, 233, 221); }
table tr.odd td.active { background: none repeat scroll 0% 0% rgb(243, 244, 238); }
table tr.selected td { background: none repeat scroll 0% 0% rgb(255, 255, 204); border-color: rgb(238, 238, 187); }
table tr.selected td.active { background: none repeat scroll 0% 0% rgb(255, 255, 204); border-color: rgb(238, 238, 187); }
table.system-status-report tr { border-bottom: 1px solid rgb(204, 204, 204); }
table.system-status-report tr.ok { color: rgb(37, 91, 30); background-color: rgb(229, 255, 226); }
table.system-status-report tr.info { color: rgb(4, 15, 55); background-color: rgb(187, 221, 255); }
table.system-status-report tr.warning { color: rgb(136, 68, 0); background-color: rgb(255, 252, 229); }
table.system-status-report tr.error { color: rgb(140, 46, 11); background-color: rgb(254, 245, 241); }
tr td:last-child { border-right: 1px solid rgb(190, 191, 185); }
fieldset { border: 1px solid rgb(204, 204, 204); padding: 2.5em 0px 0px; position: relative; margin: 1em 0px; }
fieldset .fieldset-legend { margin-top: 0.5em; padding-left: 15px; position: absolute; text-transform: uppercase; }
fieldset .fieldset-wrapper { padding: 0px 13px 13px 15px; }
fieldset.collapsed { background-color: transparent; }
html.js fieldset.collapsed { border-width: 1px; height: auto; }
fieldset fieldset { background-color: rgb(255, 255, 255); }
fieldset fieldset fieldset { background-color: rgb(248, 248, 248); }
.form-item { padding: 9px 0px; margin: 0px 0px 10px; }
.filter-wrapper .form-item, div.teaser-checkbox .form-item, .form-item .form-item { padding: 5px 0px; margin: 0px; border: 0px none; }
.form-type-checkbox { padding: 0px; }
.text-format-wrapper .form-item { padding-bottom: 0px; }
.form-item label { margin: 0px; padding: 0px; }
.form-item label.option { font-size: 0.923em; text-transform: none; }
.form-item label.option input { vertical-align: middle; }
.form-disabled input.form-autocomplete, .form-disabled input.form-text, .form-disabled input.form-file { background-color: rgb(238, 238, 238); color: rgb(119, 119, 119); }
.form-disabled textarea.form-textarea, .form-disabled select.form-select { background-color: rgb(238, 238, 238); color: rgb(119, 119, 119); }
.filter-wrapper { border-top: 0px none; padding: 10px 2px; }
.filter-wrapper .fieldset-wrapper { padding: 0px 6px; }
.filter-wrapper .form-item, .filter-wrapper .filter-guidelines, .filter-wrapper .filter-help { font-size: 0.923em; padding: 2px 0px 0px; }
ul.tips, div.description, .form-item div.description { margin: 5px 0px; line-height: 1.231em; font-size: 0.923em; color: rgb(102, 102, 102); }
ul.tips li { margin: 0.25em 0px 0.25em 1.5em; }
body div.form-type-radio div.description, body div.form-type-checkbox div.description { margin-left: 1.5em; }
input.form-submit { cursor: pointer; padding: 4px 17px; margin-bottom: 1em; margin-right: 1em; color: rgb(90, 90, 90); text-align: center; font-weight: normal; font-size: 1.077em; font-family: "Lucida Grande",Verdana,sans-serif; border-width: 1px; border-style: solid; border-color: rgb(228, 228, 228) rgb(210, 210, 210) rgb(180, 180, 180); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: url("urn:download-error:http://localhost/drupal-7.22/sites/all/themes/zen_backend/css/images/buttons.png") repeat-x scroll 0px 0px transparent; border-radius: 20px 20px 20px 20px; }
a.button { cursor: pointer; padding: 4px 17px; margin-bottom: 1em; margin-right: 1em; color: rgb(90, 90, 90); text-align: center; font-weight: normal; font-size: 1.077em; font-family: "Lucida Grande",Verdana,sans-serif; border-width: 1px; border-style: solid; border-color: rgb(228, 228, 228) rgb(210, 210, 210) rgb(180, 180, 180); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: url("urn:download-error:http://localhost/drupal-7.22/sites/all/themes/zen_backend/css/images/buttons.png") repeat-x scroll 0px 0px transparent; border-radius: 20px 20px 20px 20px; }
a.button:link, a.button:visited, a.button:hover, a.button:active { text-decoration: none; color: rgb(90, 90, 90); }
input.form-submit:active { background: none repeat scroll 0% 0% rgb(102, 102, 102); color: rgb(255, 255, 255); border-color: rgb(85, 85, 85); text-shadow: 0px -1px 0px rgb(34, 34, 34); }
input.form-button-disabled { background: none repeat scroll 0% 0% rgb(238, 238, 238); border-color: rgb(238, 238, 238); text-shadow: none; color: rgb(153, 153, 153); }
input.form-button-disabled:active { background: none repeat scroll 0% 0% rgb(238, 238, 238); border-color: rgb(238, 238, 238); text-shadow: none; color: rgb(153, 153, 153); }
input.form-autocomplete, input.form-text, input.form-file { padding: 2px; border-width: 1px; border-style: solid; border-right: 1px solid rgb(204, 204, 204); border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); }
textarea.form-textarea, select.form-select { padding: 2px; border-width: 1px; border-style: solid; border-right: 1px solid rgb(204, 204, 204); border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); }
input.form-text:focus, input.form-file:focus { color: rgb(0, 0, 0); border-color: rgb(170, 204, 238); }
textarea.form-textarea:focus, select.form-select:focus { color: rgb(0, 0, 0); border-color: rgb(170, 204, 238); }
html.js input.form-autocomplete { background-position: 100% 4px; }
html.js input.throbbing { background-position: 100% -16px; }
ul.action-links { margin: 1em 0px; padding: 0px 20px; list-style-type: none; overflow: hidden; }
ul.action-links li { float: left; margin: 0px 1em 0px 0px; }
ul.action-links a { padding-left: 15px; background: url("urn:not-loaded:http://localhost/drupal-7.22/sites/all/themes/zen_backend/css/images/add.png") no-repeat scroll 0px center transparent; line-height: 30px; }
#diff-inline-form select { padding: 0px; }
div.filter-options select { padding: 0px; }
div.admin .right, div.admin .left { width: 49%; margin: 0px; }
div.admin-panel { clear: left; margin: 0px 0px 20px; padding: 9px; background: none repeat scroll 0% 0% rgb(248, 248, 248); border: 1px solid rgb(204, 204, 204); }
div.admin-panel .body { padding: 0px; clear: left; }
div.admin-panel h3 { font-size: 0.923em; text-transform: uppercase; margin: 0px; padding-bottom: 9px; }
#system-themes-page h2 { font-weight: normal; text-transform: uppercase; }
.theme-selector h3 { font-weight: normal; }
.theme-default h3 { font-weight: bold; }
.system-themes-list-enabled .theme-selector h3 { margin-top: 0px; }
div.admin-options { background: none repeat scroll 0% 0% rgb(248, 248, 248); line-height: 30px; height: 30px; padding: 9px; border: 1px solid rgb(204, 204, 204); margin: 0px 0px 10px; }
div.admin-options label { text-transform: uppercase; font: 0.846em/1.875em Lucida Grande,Lucida Sans Unicode,sans-serif; margin-right: 10px; float: left; }
div.admin-options div.form-item { margin-right: 10px; float: left; padding: 0px; border: 0px none; }
.versions table.version { border: medium none; }
body.in-maintenance #sidebar-first { float: left; width: 200px; }
body.in-maintenance #content { float: right; width: 550px; padding-right: 20px; clear: none; }
body.in-maintenance #page { overflow: auto; width: 770px; margin: 0px auto; padding-top: 2em; }
body.in-maintenance #branding h1 { width: 770px; margin: 0px auto; float: none; }
body.in-maintenance .form-radios .form-type-radio { padding: 2px 0px; }
body.in-maintenance div.form-item:after { content: ""; display: none; clear: none; }
body.in-maintenance .form-submit { display: block; }
body.in-maintenance #logo { margin-bottom: 1.5em; max-width: 180px; }
ol.task-list { margin-left: 0px; list-style-type: none; list-style-image: none; }
ol.task-list li { padding: 0.5em 1em 0.5em 20px; color: rgb(173, 173, 173); }
ol.task-list li.active { background: url("urn:not-loaded:http://localhost/drupal-7.22/sites/all/themes/zen_backend/css/images/task-item.png") no-repeat scroll 3px 50% transparent; padding: 0.5em 1em 0.5em 20px; color: rgb(0, 0, 0); }
ol.task-list li.done { background: url("urn:not-loaded:http://localhost/drupal-7.22/sites/all/themes/zen_backend/css/images/task-check.png") no-repeat scroll 0px 50% transparent; color: green; }
.overlay #header, .overlay #navigation, .overlay #footer { display: none; }
.overlay #main { padding-top: 0px; }
#overlay-tabs { bottom: -1px; font-size: 1.54em; line-height: 1.54em; margin: 0px; }
#overlay-tabs li { margin: 0px -2px; }
.overlay ul.secondary { background: none repeat scroll 0% 0% transparent; margin: -1.4em 0px 0.3em; overflow: visible; }
.overlay #content { padding: 0px; }
h1#overlay-title { font-weight: normal; }
div.add-or-remove-shortcuts { float: left; padding-top: 6px; padding-left: 6px; }
#dashboard .dashboard-region div.block h2 { background: none repeat scroll 0% 0% rgb(224, 224, 216); }
#dashboard div.block h2 { margin: 0px; font-size: 1em; padding: 3px 10px; }
#dashboard div.block div.content { padding: 10px 5px 5px; }
#dashboard div.block div.content ul.menu { margin-left: 20px; }
#dashboard .dashboard-region .block { border: 1px solid rgb(204, 204, 204); }
#field-display-overview input.field-formatter-settings-edit { margin: 0px; padding: 1px 8px; }
#field-display-overview tr.field-formatter-settings-changed { background: none repeat scroll 0% 0% rgb(255, 255, 187); }
#field-display-overview tr.drag { background: none repeat scroll 0% 0% rgb(255, 238, 119); }
#field-display-overview tr.field-formatter-settings-editing { background: none repeat scroll 0% 0% rgb(213, 233, 242); }
#field-display-overview .field-formatter-settings-edit-form .form-item { margin: 10px 0px; }
#field-display-overview .field-formatter-settings-edit-form .form-submit { margin-bottom: 0px; }
#dashboard div#block-node-recent div.content { padding: 0px; }
#block-node-recent table, #block-node-recent tr { border: medium none; }
#block-node-recent .more-link { padding: 0px 5px 5px 0px; }
#user-login-form .openid-links { margin-left: 0px; }
#user-login-form .openid-links .user-link { margin-left: 1.5em; }
#overlay-disable-message { background-color: rgb(173, 218, 252); }
#overlay-disable-message a { color: rgb(0, 0, 0); }
#overlay-disable-message a:visited { color: rgb(0, 0, 0); }
#overlay-disable-message a:focus, #overlay-disable-message a:active { outline: medium none; text-decoration: underline; }
.overlay-disable-message-focused a { padding: 0.4em 0.6em; }
.overlay-disable-message-focused #overlay-dismiss-message { background-color: rgb(89, 160, 216); color: rgb(255, 255, 255); border-radius: 8px 8px 8px 8px; }
